.cover__subtitle {
    margin: 0 auto;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;  
}

@media (max-width: 560px) {
    .cover__subtitle {
        max-width: 266px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 320px) {
    .cover__subtitle {
        max-width: 266px;
        font-size: 14px;
        line-height: 16px;
    }
}