.place__paragraphs {
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 560px) {
    .place__paragraphs {
        grid-column: 1;
        grid-row: 4;
    }
}

@media (max-width: 320px) {
    .place__paragraphs {
        margin-left: 16px;
        margin-right: 16px;
    }
}
