.cover {
    width: 100%;
    max-width: 1184px;
    height: 57.8125vw;
    min-height: 740px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        height: 62.5vw;
    }
}

@media (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 62.5vw;
        
        
    }
}

@media (max-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 62.5vw;
    }
}